<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
	<jmxConfigurator/>

	<springProfile name="dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} - [%t] %-5p %c - %m%n</pattern>
			</encoder>
		</appender>
		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
		</root>
	</springProfile>

	<springProfile name="!dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} - [%t] %-5p %c - %m%n</pattern>
			</encoder>
		</appender>

		<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
			<destination>${LOGSTASH_ENDPOINT}:${LOGSTASH_PORT}</destination>
			<writeBufferSize>${LOGSTASH_BUFFER}</writeBufferSize>

			<keepAliveDuration>5 minutes</keepAliveDuration>

			<encoder class="net.logstash.logback.encoder.LogstashEncoder">
				<timeZone>UTC</timeZone>
				<customFields>{"service":"${SERVICE_NAME}","type":"general"}</customFields>
			</encoder>
		</appender>

		<root level="INFO">
			<appender-ref ref="LOGSTASH"/>
			<appender-ref ref="CONSOLE"/>
		</root>
	</springProfile>

	<logger name="com.zipwhip" level="INFO"/>
	<logger name="org.jdiameter" level="WARN"/>
	<logger name="com.zipwhip.data" level="WARN"/>
	<logger name="org.springframework" level="WARN"/>
	<logger name="org.apache.activemq" level="WARN"/>
	<logger name="com.jolbox.bonecp" level="WARN"/>
	<logger name="org.apache.coyote.http11" level="TRACE"/>

</configuration>
